body {
  position: relative;
}
#board {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 680px;
  left: 50%;
  transform: translateX(-50%);
}

.box {
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  width: 100px;
  background-size: 100px;
  background-position-x: center;
  background-position-y: center;
  margin: 10px;
}
